{% extends 'base.html' %} 
{% load static %} 

{% block static %}
<link rel="stylesheet" href="{% static 'css/form_turma.css' %}" />
{% endblock %} 

{% block content %} 
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </span>
            {% endfor %}
            <span class="close">&#x2715</span>
        </div>
    {% endif %}
<div class="form">
    <form {% if class_edit %}action="{% url 'edit-class' class_edit.id %}" {% else %}action="{% url 'create-class' %}"{% endif %} method="POST">
        {% csrf_token %}
        <div class="title">
            <h2>Cadastrar Turma</h2>
        </div>
        <div class="form-fields">
            <label for="name" class="label-input">Nome</label>
            <input
                type="text"
                id="name"
                name="name"
                class="input-name"
                placeholder="Ex: Turma 1"
                {% if class_edit %}
                value="{{ class_edit.name }}"
                {% endif %}
                required
            />
        </div>
        <div class="form-fields">
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}
