{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav">
    <h2>Turmas</h2>
    <button class="btn-new">
        <a href="./form_turma.html">Nova Turma</a>
    </button>
</div>

<!-- orders list -->
<div class="list">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Editar/Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for class in class_list %}
            <tr>
                <td>{{ class.id }}</td>
                <td>{{ class.name }}</td>
                <td>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#"><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- end orders list -->

<!-- pagination -->
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="bt-pag"
        >Página Anterior</a
    >
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="bt-pag"
        >Próxima Página</a
    >
    {% endif %}
</div>
<!-- end pagination -->
{% endblock %}
