{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav">
    <h2>Pedidos</h2>
    <a href="{% url 'create-order' %}"
        ><button class="btn-new">Novo Pedido</button></a
    >
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </span>
    {% endfor %}
</div>
{% endif %}

<!-- orders list -->
<div class="list">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Aluno</th>
                <th>Série</th>
                <th>Lanches</th>
                <th>Preço</th>
                <th>Data</th>
                <th>Pai</th>
                <th>Editar/Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.child_id }}</td>
                <td>{{ order.child_id.class_id }}</td>
                <td>
                    {% for snack in order.snack_id.all %} {{ snack.name }}
                    <br />
                    {% endfor %}
                </td>
                <td>R$ {{ order.order_value }}</td>
                <td>{{ order.date|date:'d-m-Y' }}</td>
                <td>{{ order.child_id.father }}</td>
                <td>
                    <a href="{% url 'edit-order' order.id %}"
                        ><i class="fa-regular fa-pen-to-square"></i
                    ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- end orders list -->

<!-- pagination -->
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="bt-pag"
        >Página Anterior</a
    >
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="bt-pag"
        >Próxima Página</a
    >
    {% endif %}
</div>
<!-- end pagination -->
{% endblock %}
