{% extends 'base.html' %} {% load static %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/form_order.css' %}" />
<link rel="stylesheet" href="{% static 'css/delete_modal.css' %}" />
{% endblock %}
<!--  -->
{% block content %}

<div class="form">
    {% if order_edit %}
    <form action="{% url 'edit-order' order_edit.id %}" method="POST">
        {% else %}
        <form action="{% url 'create-order' %}" method="POST">
    {% endif %}
        {% csrf_token %}
        <div class="title">
            {% if order_edit %}
            <h2>Atualizar Pedido</h2>
            {% else %}
            <h2>Cadastrar Pedido</h2>
            {% endif %}
        </div>
        <div class="form-fields">
            <!-- edit order -->
            {% if order_edit %}
            <label for="child" class="label-input">Aluno</label>
            <select name="child" id="child" class="input-child" required>
                <option value="">Escolha</option>
                {% for student in students %}
                <!--  -->
                {% if student.id == order_edit.child_id.id %}
                <option value="{{ student.id }}" selected>
                    {{ student.name }}
                </option>
                {% else %}
                <option value="{{ student.id }}">{{ student.name }}</option>
                {% endif %} {% endfor %}
            </select>
            <label for="date" class="label-input"
                >Data - {{ order_edit.date|date:'d/m/Y' }}</label
            >
            <input
                type="date"
                id="date"
                name="date"
                class="input-date"
                value=""
                required
            />

            <label for="class" class="label-input">Lanches</label>
            <select
                name="snack"
                id="snack"
                class="input-snack"
                multiple
                required
            >
                {% for snack in snacks %}
                <!--  -->
                {% if snack in order_edit.snack_id.all %}
                <option value="{{ snack.id }}" selected>
                    {{ snack.name }}
                </option>
                {% else %}
                <option value="{{ snack.id }}">{{ snack.name }}</option>
                {% endif %}
                <!--  -->
                {% endfor %}
            </select>
            <!-- end edite order -->
            {% else %}
            <!-- create new order -->
            <label for="child" class="label-input">Aluno</label>
            <select name="child" id="child" class="input-child" required>
                <option value="">Escolha</option>
                {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
                {% endfor %}
            </select>

            <label for="date" class="label-input">Data</label>
            <input
                type="date"
                id="date"
                name="date"
                class="input-date"
                required
            />

            <label for="class" class="label-input">Lanches</label>
            <select
                name="snack"
                id="snack"
                class="input-snack"
                multiple
                required
            >
                {% for snack in snacks %}
                <option value="{{ snack.id }}">{{ snack.name }}</option>
                {% endfor %}
            </select>
            <!-- end create new order -->
            {% endif %}
        </div>
        <div class="form-fields">
            {% if order_edit %}
            <button type="submit">Atualizar</button>
            {% else %}
            <button type="submit">Cadastrar</button>
            {% endif %}
        </div>
    </form>
</div>

<!-- messages -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </span>
    {% endfor %}
</div>
{% endif %}
<!-- end messages -->

{% endblock %}
