{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav">
    <h2>Pedidos</h2>
    <button class="btn-new">
        <a href="./form_pedidos.html">Novo Pedido</a>
    </button>
</div>

<!-- orders list -->
<div class="list">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Aluno</th>
                <th>Série</th>
                <th>Lanches</th>
                <th>Preço</th>
                <th>Data</th>
                <th>Pai</th>
                <th>Editar/Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.child_id }}</td>
                <td>{{ order.child_id.class_id }}</td>
                <td>
                    {% for snack in order.snack_id.all %} {{ snack.name }}
                    <br />
                    {% endfor %}
                </td>
                <td>R$ 5.00</td>
                <td>{{ order.date|date:'d-m-y'|lower }}</td>
                <td>{{ order.child_id.father }}</td>
                <td>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#"><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- end orders list -->

<!-- pagination -->
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="bt-pag"
        >Página Anterior</a
    >
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="bt-pag"
        >Próxima Página</a
    >
    {% endif %}
</div>
<!-- end pagination -->
{% endblock %}
