{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav">
    <h2>Alunos</h2>
    <button class="btn-new">
        <a href="{% url 'create-student' %}">Novo Aluno</a>
    </button>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </span>
    {% endfor %}
</div>
{% endif %}

<!-- orders list -->
<div class="list">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Série</th>
                <th>Pai</th>
                <th>Editar/Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.class_id }}</td>
                <td>{{ student.father }}</td>
                <td>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- end orders list -->

<!-- pagination -->

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="bt-pag"
        >Página Anterior</a
    >
    {% endif %}

    <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="bt-pag"
        >Próxima Página</a
    >
    {% endif %}
</div>

<!-- end pagination -->

{% endblock %}
