{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav">
    <h2>Alunos</h2>
    <button class="btn-new">
        <a href="./form_alunos.html">Novo Aluno</a>
    </button>
</div>

<!-- orders list -->
<div class="list">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Série</th>
                <th>Pai</th>
                <th>Editar/Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.class_id }}</td>
                <td>{{ student.father }}</td>
                <td>
                    <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href=""><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
            <!-- <tr>
                <td>2</td>
                <td>joy</td>
                <td>8° ano</td>
                <td>Micheal</td>
                <td>
                    <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#"><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>
<!-- end orders list -->

<!-- pagination -->

<!-- end pagination -->

{% endblock %}
