{% extends 'base.html' %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/form_studant.css' %}" />
<link rel="stylesheet" href="{% static 'css/delete_modal.css' %}" />
{% endblock %} {%block content %}

<div class="form">
    {% if student_edit %}
    <form action="{% url 'edit-student' student_edit.id %}" method="POST">
    {% else %}
    <form action="{% url 'create-student' %}" method="POST">
    {% endif %}
        {% csrf_token %}
        <div class="title">
            {% if student_edit %}
            <h2>Atualizar Aluno</h2>
            {% else %}
            <h2>Cadastrar Aluno</h2>
            {% endif %}
        </div>
        <div class="form-fields">
            {% if student_edit %}

                <label for="name" class="label-input">Nome</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    class="input-name"
                    placeholder="Ex: Maria..."
                    value="{{ student_edit.name }}"
                    required
                />

                <label for="child" class="label-input">Turma</label>
                <select name="class" id="class" class="input-select" required>
                    <option value="">Escolha a turma</option>
                    <option selected value="{{ student_edit.class_id.id }}">{{ student_edit.class_id }}</option>
                    {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>

                <label for="child" class="label-input">Pai</label>
                <select name="father" id="father" class="input-select" required>
                    <option value="">Escolha o pai...</option>
                    <option selected value="{{ student_edit.father.id }}">{{ student_edit.father }}</option>
                    {% for father in fathers %}
                    <option value="{{ father.id }}">{{ father.username }}</option>
                    {% endfor %}
                </select>

            {% else %}

                <label for="name" class="label-input">Nome</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    class="input-name"
                    placeholder="Ex: Maria..."
                    required
                />

                <label for="child" class="label-input">Turma</label>
                <select name="class" id="class" class="input-select" required>
                    <option value="">Escolha a turma</option>
                    {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>

                <label for="child" class="label-input">Pai</label>
                <select name="father" id="father" class="input-select" required>
                    <option value="">Escolha o pai...</option>
                    {% for father in fathers %}
                    <option value="{{ father.id }}">{{ father.username }}</option>
                    {% endfor %}
                </select>

            {% endif %}
        </div>
        <div class="form-fields">
            {% if student_edit %}
            <button type="submit">Atualizar</button>
            {% else %}
            <button type="submit">Cadastrar</button>
            {% endif %}
        </div>
    </form>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </span>
    {% endfor %}
</div>
{% endif %}

{% if student_edit %}
<div class="modal">
    <button
        type="button"
        class="modal-delete__button"
        onclick="deleteModal('open')"
    >
        Deletar Aluno
    </button>

    <div class="box">
        <div class="modal-box">
            <h2 class="modal-title">Deletar Aluno</h2>
            <div class="modal-content">
                <span class="modal-content__item">
                    <strong>Nome:</strong>
                    {{ student_edit.name }}
                </span>
                <span class="modal-content__item">
                    <strong>Preço:</strong>
                    {{ student_edit.class_id.name }}
                </span>
                <span class="modal-content__item">
                    <strong>Preço:</strong>
                    {{ student_edit.father }}
                </span>
                <span class="modal-content__item">
                    Você tem certeza que deseja deletar este aluno?
                </span>
                <div>
                    <form
                        action="{% url 'delete-student' student_edit.id %}"
                        method="POST"
                    >
                        {% csrf_token %}
                        <button
                            class="modal-btn modal-btn__confirm"
                            type="submit"
                        >
                            Sim
                        </button>
                        <button
                            type="button"
                            onclick="deleteModal('close')"
                            class="modal-btn modal-btn__cancel"
                        >
                            Não
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} 
{% endblock %}
