.modal {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.modal-delete__button {
    border-radius: 0.5rem;
    width: 8rem;
    height: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--delete-icon);
}

.modal-delete__button:hover {
    transform: scale(1.1);
    border: 2px solid var(--delete-icon);
}

.modal-box {
    width: 40%;
    height: 30vh;
    padding: 1rem 2rem;
    border: 1px solid #a09f9f;
    border-radius: 1rem;
    position: absolute;
    top: 35vh;
    right: 20vw;
    display: none;
    background-color: #fff;
}

.modal-title {
    text-align: center;
}

.modal-content {
    margin-top: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-content__item {
    margin-bottom: 1rem;
}

.modal-btn {
    width: 5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.modal-btn:hover {
    transform: scale(1.1);
    margin: 0 10px 0 10px;
}

.modal-btn__confirm {
    background-color: var(--edit-icon);
}

.modal-btn__cancel {
    background-color: var(--delete-icon);
}
