.delete {
    border-radius: 0.5rem;
    margin: 0 auto;
    border: 1px solid #000;
    /* width: 40%; */
}

.delete-label {
    border-radius: 0.5rem;
    width: 10rem;
    height: 4rem;
    border: none;
    border: 1px solid var(--delete-icon);
    cursor: pointer;
    font-weight: bold;
}

.delete-button:hover {
    transform: scale(1.1);
}

.modal {
    width: 80vw;
    height: 100vh;
    padding: 1rem 2rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: none;
}

.delete-modal {
    margin: 2rem auto;
    width: 40%;
    height: 30vh;
    padding: 1rem 2rem;
    border: 1px solid #a09f9f;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    bottom: 18vh;
    right: 30%;
}

.modal-title {
    text-align: center;
}

.modal-content {
    margin-top: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-content__item {
    margin-bottom: 1rem;
}

.button-modal {
    width: 5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.button-modal:hover {
    transform: scale(1.1);
    margin: 0 10px 0 10px;
}

.confirm-delete {
    background-color: var(--edit-icon);
}

.cancel-delete {
    background-color: var(--delete-icon);
}

.delete-input:checked ~ .modal {
    display: block;
}
